<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="matches-list">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-property">
      <ion-icon name="heart"></ion-icon>
      <ion-label>My Facility</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="Settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs>