<app-header [title]="title"></app-header>

<ion-content bg-dark padding>
	<div addProperty *ngIf="stripe_id">
      <form [formGroup]="addmatch" (ngSubmit)="addmatchnow()">
		<ion-list UserDetails>

<!-- ///// -->


      <ion-item no-padding>
			  <ion-icon icon-left slot="start" name="business"></ion-icon>
         <ion-label position="stacked">Type</ion-label>
         
         <ion-select placeholder="Type" formControlName="type">
          <ion-select-option value="5">5v5</ion-select-option>
          <ion-select-option value="6">6v6</ion-select-option>
        </ion-select>

     </ion-item>
        <div *ngIf="!addmatch.controls.type.valid && is_submit" class="valid">
            Please select type
        </div>


        <ion-item no-padding>
          <ion-icon icon-left slot="start" name="business"></ion-icon>
           <ion-label position="stacked">Gender</ion-label>
           
           <ion-select placeholder="Gender" formControlName="gender">
            <ion-select-option value="m">Male</ion-select-option>
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="coed">Co Ed</ion-select-option>
        </ion-select>
  
          </ion-item>
          <div *ngIf="!addmatch.controls.gender.valid && is_submit" class="valid">
              Please select gender
          </div>
   
		 
    
        <ion-item no-padding>
          <ion-icon icon-left  slot="start" name="calendar"></ion-icon>
          <ion-label position="stacked">Date</ion-label>
          <!-- <ion-datetime displayFormat="MM DD YY" field_clr placeholder="Select Date" formControlName="date"  [min]="date" [disabled]="true"></ion-datetime> -->
          <ion-input  formControlName="location" formControlName="date" [disabled]="true"></ion-input>  
         </ion-item>

        <ion-item no-padding>
          <ion-icon icon-left  slot="start" name="clock"></ion-icon>
          <ion-label position="stacked">Start Time</ion-label>
          <ion-datetime field_clr display-format="HH-mm" picker-format="HH-mm" formControlName="stime" [disabled]="true"></ion-datetime>

        </ion-item>
 
        <ion-item no-padding>
            <ion-icon icon-left slot="start" name="business"></ion-icon>
             <ion-label position="stacked">Duration</ion-label>
             
            <ion-select placeholder="Duration" formControlName="duration" [disabled]="true">
               <ion-select-option value="1">30 Mins</ion-select-option>
                  <ion-select-option value="2">1 HR</ion-select-option>
                   <ion-select-option value="3">1 HR 30 Mins</ion-select-option>
                     <ion-select-option value="4">2 HR</ion-select-option>
                        <ion-select-option value="5">2 HR 30 Mins</ion-select-option>
                          <ion-select-option value="6">3 HR</ion-select-option>
                      <ion-select-option value="7">3 HR 30 Mins</ion-select-option>
                    <ion-select-option value="8">4 HR</ion-select-option>
                 <ion-select-option value="9">4 HR 30 Mins</ion-select-option>
                <ion-select-option value="10">5 HR</ion-select-option>
             <ion-select-option value="11">5 HR 30 Mins</ion-select-option>
          <ion-select-option value="11">6 HR</ion-select-option>
          </ion-select>
    
            </ion-item>


              <ion-button  shape="round" expand="full" [disabled]="true">{{team_info?.name}}</ion-button>
             

              <h3 style="    text-align: center;
              color: white;">VS</h3>
      
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn2, 2)" *ngIf="errors.indexOf(btn2)>=0">Select Team2</ion-button>
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn2, 2)" *ngIf="errors.indexOf(btn2)==-1">{{btn2}}</ion-button>
      
              <br>
      
    </ion-list>
    <ion-button type="submit" shape="round" expand="full">Add Match</ion-button>
    </form>
  </div>

<p  *ngIf="!stripe_id" style="    color: grey;
font-size: 20px;
text-align: center;">
  Please add stripe account to get started with adding matches
</p>
  <ion-button (click)="get_connected()" *ngIf="!stripe_id" style="margin-left: 24%;
  margin-top: 73px;
">

    Connect with stripe
  </ion-button>
</ion-content>
