<app-header [title]="title"></app-header>

<ion-content bg-dark padding>
	<div addProperty *ngIf="stripe_id">
      <form [formGroup]="addmatch" (ngSubmit)="addmatchnow()">
		<ion-list UserDetails>


      <ion-item no-padding>
			  <ion-icon icon-left slot="start" name="business"></ion-icon>
         <ion-label position="stacked">Type</ion-label>
         
         <ion-select placeholder="Type" formControlName="type">
          <ion-select-option value="5">5v5</ion-select-option>
          <ion-select-option value="6">6v6</ion-select-option>
        </ion-select>

     </ion-item>

        <div *ngIf="!addmatch.controls.type.valid && is_submit" class="valid">
            Please select type
        </div>

        <ion-item no-padding>
          <ion-icon icon-left slot="start" name="business"></ion-icon>
           <ion-label position="stacked">Gender</ion-label>
           
           <ion-select placeholder="Gender" formControlName="gender">
            <ion-select-option value="m">Male</ion-select-option>
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="coed">Co Ed</ion-select-option>
        </ion-select>
  
          </ion-item>
          <div *ngIf="!addmatch.controls.gender.valid && is_submit" class="valid">
              Please select gender
          </div>
        
        <ion-item no-padding>
          <ion-icon icon-left  slot="start" name="calendar"></ion-icon>
          <ion-label position="stacked">Date</ion-label>
          <ion-datetime displayFormat="MM DD YY" field_clr placeholder="Select Date" formControlName="date"  [min]="date" (ionChange)="checkdate()"></ion-datetime>
  
         </ion-item>

         <div *ngIf="!addmatch.controls.date.valid && is_submit" class="valid">
            Please select date
        </div>


        <ion-item no-padding *ngIf="is_today"> 
          <ion-icon icon-left  slot="start" name="clock"></ion-icon>
          <ion-label position="stacked">Start Time</ion-label>
          <ion-datetime field_clr display-format="HH-mm" picker-format="HH-mm" formControlName="stime"  hourValues="{{total_hours}}"  ></ion-datetime>

        </ion-item>

        <ion-item no-padding *ngIf="!is_today">
            <ion-icon icon-left  slot="start" name="clock"></ion-icon>
            <ion-label position="stacked">Start Time</ion-label>
            <ion-datetime field_clr display-format="HH-mm" picker-format="HH-mm" formControlName="stime" ></ion-datetime>
  
        </ion-item>
  
  
          <div *ngIf="!addmatch.controls.stime.valid && is_submit" class="valid">
              Please select start time
          </div>


        <ion-item no-padding>
            <ion-icon icon-left slot="start" name="business"></ion-icon>
             <ion-label position="stacked">Duration</ion-label>
             
            <ion-select placeholder="Duration" formControlName="duration" (ionChange)="SelectCustom()">
                  <ion-select-option value="1">30 Mins</ion-select-option>
                  <ion-select-option value="2">1 HR</ion-select-option>
                  <ion-select-option value="3">1 HR 30 Mins</ion-select-option>
                  <ion-select-option value="4">2 HR</ion-select-option>
                  <ion-select-option value="5">Custom</ion-select-option>
                       
          </ion-select>
    
            </ion-item>
            <div *ngIf="!addmatch.controls.duration.valid && is_submit" class="valid">
                Please select duration
            </div>

         <ion-item no-padding *ngIf="is_custom">
            <ion-icon icon-left  slot="start" name="clock"></ion-icon>
            <ion-label position="stacked">Custom Duration</ion-label>
            <ion-datetime field_clr display-format="HH-mm" picker-format="HH-mm" formControlName="etime" ></ion-datetime>
  
        </ion-item>
  
  
        <div *ngIf="!addmatch.controls.etime.valid && is_submit && is_custom" class="valid">
            Please select duration
        </div>


           <ion-row>
           <ion-col size="5">
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn1, 1)" *ngIf="errors.indexOf(btn1)>=0">Select Team1</ion-button>
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn1, 1)" *ngIf="errors.indexOf(btn1)==-1">{{btn1}}</ion-button>
           </ion-col>
		     <ion-col size="2">
              <h3 class="vstext">VS</h3>
        </ion-col>
			    <ion-col size="5">
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn2, 2)" *ngIf="errors.indexOf(btn2)>=0">Select Team2</ion-button>
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn2, 2)" *ngIf="errors.indexOf(btn2)==-1">{{btn2}}</ion-button>
			  </ion-col>
        </ion-row>
            
      
    </ion-list>
    <ion-button type="submit" shape="round" expand="full">Add Match</ion-button>
    </form>
  </div>

<p  *ngIf="!stripe_id" style="    color: grey;
font-size: 20px;
text-align: center;">
  Please add stripe account to get started with adding matches
</p>
  <ion-button (click)="get_connected()" *ngIf="!stripe_id" style="margin-left: 24%;
  margin-top: 73px;
">

    Connect with stripe
  </ion-button>
</ion-content>
