<app-header [title]="title"></app-header>

<ion-content bg-dark padding>
	<div addProperty *ngIf="stripe_id">
      <form [formGroup]="addmatch" (ngSubmit)="addmatchnow()">
		<ion-list UserDetails>


      <ion-item no-padding>
			  <ion-icon icon-left slot="start" name="business"></ion-icon>
         <ion-label position="stacked">Type</ion-label>
         
         <ion-select placeholder="Type" formControlName="type">
          <ion-select-option value="5">5v5</ion-select-option>
          <ion-select-option value="6">6v6</ion-select-option>
        </ion-select>

     </ion-item>
        <div *ngIf="!addmatch.controls.type.valid && is_submit" class="valid">
            Please select type
        </div>


        <ion-item no-padding>
          <ion-icon icon-left slot="start" name="business"></ion-icon>
           <ion-label position="stacked">Gender</ion-label>
           
           <ion-select placeholder="Gender" formControlName="gender">
            <ion-select-option value="m">Male</ion-select-option>
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="coed">Co Ed</ion-select-option>
        </ion-select>
  
          </ion-item>
          <div *ngIf="!addmatch.controls.gender.valid && is_submit" class="valid">
              Please select gender
          </div>
        
		 <ion-item no-padding>
			  <ion-icon  icon-left slot="start" name="logo-slack"></ion-icon>
	 		 <ion-label position="stacked">Location</ion-label>
           <ion-input  formControlName="location"></ion-input>    
      </ion-item>

      <div *ngIf="!addmatch.controls.location.valid && is_submit" class="valid">
          Please enter location
      </div>
    
        <ion-item no-padding>
          <ion-icon icon-left  slot="start" name="calendar"></ion-icon>
          <ion-label position="stacked">Date</ion-label>
          <ion-datetime displayFormat="MM DD YY" field_clr placeholder="Select Date" formControlName="date"  [min]="date"></ion-datetime>
  
         </ion-item>

         <div *ngIf="!addmatch.controls.date.valid && is_submit" class="valid">
            Please select date
        </div>


        <ion-item no-padding>
          <ion-icon icon-left  slot="start" name="clock"></ion-icon>
          <ion-label position="stacked">Start Time</ion-label>
          <ion-datetime field_clr display-format="HH-mm" picker-format="HH-mm" formControlName="stime"></ion-datetime>

        </ion-item>

        <div *ngIf="!addmatch.controls.stime.valid && is_submit" class="valid">
            Please select start time
        </div>


        <ion-item no-padding>
          <ion-icon icon-left  slot="start" name="clock"></ion-icon>
          <ion-label position="stacked">End Time</ion-label>
          <ion-datetime field_clr display-format="HH-mm" picker-format="HH-mm"  formControlName="etime"></ion-datetime>
                
        </ion-item>

        <div *ngIf="!addmatch.controls.etime.valid && is_submit" class="valid">
            Please select end time
        </div>
       
  
            <!-- ////////// -->

            <ion-item no-padding>
              <ion-icon icon-left slot="start" name="business"></ion-icon>
               <ion-label position="stacked">Match Name</ion-label>
                 <ion-input  formControlName="name"></ion-input>         
              </ion-item>
              <div *ngIf="!addmatch.controls.name.valid && is_submit" class="valid">
                  Please enter name
              </div>
      
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn1, 1)" *ngIf="errors.indexOf(btn1)>=0">Select Team1</ion-button>
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn1, 1)" *ngIf="errors.indexOf(btn1)==-1">{{btn1}}</ion-button>

              <h3 style="    text-align: center;
              color: white;">VS</h3>
      
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn2, 2)" *ngIf="errors.indexOf(btn2)>=0">Select Team2</ion-button>
              <ion-button  shape="round" expand="full" (click)="presentModal2(btn2, 2)" *ngIf="errors.indexOf(btn2)==-1">{{btn2}}</ion-button>
      
              <br>
      
    </ion-list>
    <ion-button type="submit" shape="round" expand="full">Add Match</ion-button>
    </form>
  </div>

<p  *ngIf="!stripe_id" style="    color: grey;
font-size: 20px;
text-align: center;">
  Please add stripe account to get started with adding matches
</p>
  <ion-button (click)="get_connected()" *ngIf="!stripe_id" style="margin-left: 24%;
  margin-top: 73px;
">

    Connect with stripe
  </ion-button>
</ion-content>
