ion-header{
	ion-title{
		padding-left:0;
	}
	ion-buttons{
		ion-menu-button{
			position:relative;
			[alert]{
				position: absolute;
				width: 10px;
				height: 10px;
				background:#ff5722;
				border-radius: 50px; 
				top: 10px;
				right: 10px;
			}
			ion-icon{
				color:#fff;
			}
		}
	}
}
ion-content[bg-dark] {
	--background: #252c46;
	background: #252c46;
	h4.main-ttls {
		padding-right: 10px;
	    color: #fff;
	    font-size: 23px;
	    font-weight: 300;
	    margin-top: 0px;
	    border-left: 3px solid #00afff;
	    padding-left: 10px;
	    margin-bottom: 13px;
	}
	 h4.main-ttls.mrgn-cstm {
		margin-bottom: 5px;
		margin-top: 0px;
	}
	[addProperty]{
		[UserDetails]{
			background:none !important; 
			padding:5px 0px 0px;
			.img_select_box{
				position:relative;
				color:#fff;
				label{
					display: block;
					background: #00afff;
					padding: 6px 21px;
					border-radius: 30px;
				}
				input{
					display: none;
				}
			}
			ion-button{
				font-size: 12px;
			}
			ion-item{
	            font-size: 14px;
				margin:0 0 10px;
				--background:transparent;
				--border-color: rgba(2255,255,255, .1);
				[icon-left]{
					font-size:30px;
					color: rgb(0, 175, 255);
					margin-right: 10px;
				}
				ion-label{
				width: 100%;
				max-width: 100%;
				color: #fff;
				letter-spacing: 1.5px;	
					span{
						color: #fff;
						font-size: 12px;
						letter-spacing: 1.5px;
						margin:0 0 5px;
						display: block;
					}
				}
				ion-input , ion-textarea
				{
				font-size: 14px;
				color:#fff;
				}
				ion-button{
					--box-shadow:none;
					position: absolute;
					right: 0;
					top: 0;
					font-size: 11px;
				}
				ion-toggle{
					--box-shadow:none;
					position: absolute;
					right: 0;
					top: 0;
					font-size: 11px;
				}
			}
		}
	}
}
ion-button{
	text-transform: capitalize;
	font-weight:400;
	font-size: 16px;
	height: 40px;
	max-width:90%;
	margin:30px auto 0;
}

.valid{
	color:red;
	font-size: 12px
}
