<app-header [title]="title"></app-header>

<ion-content bg-dark padding>


<ion-row>
	<ion-col size-md="12">
		<div class="owner_info">
			<img src="assets/images/img1.jpg"/>
			<div class="inn_info">
				<h5>Football Club Match <span>Miami</span></h5>
			</div>
		</div>
	</ion-col>
</ion-row>
<ion-row match_loc>
	<ion-col size-md="6">
		<div class="info_col">
			<i class="icon icon-calendar"></i>
			<div class="m_info">
				<strong>Date <span>25, Feb 2020</span></strong>
			</div>
		</div>
	</ion-col>
	<ion-col size-md="6">
		<div class="info_col">
			<i class="icon icon-clock-1"></i>
			<div class="m_info">
				<strong>Time <span>09:00 - 14:30</span></strong>
			</div>
		</div>
	</ion-col>
	</ion-row>

<ion-row plr_prt mt-2>
	<ion-col size-md="12">
		<h4>Players who paid <span>5/10</span></h4>
	</ion-col>
</ion-row>
<ion-row plr_prt_m plr_hdr>
	<ion-col size="2">Player</ion-col>
	<ion-col size="4">Name</ion-col>
	<ion-col size="3">Date</ion-col>
	<ion-col size="3">Amount</ion-col>
</ion-row>
<ion-row plr_prt_m>
	<ion-col size="2"><img src="assets/images/plr1.jpg" /></ion-col>
	<ion-col size="4">Tammy Abraham</ion-col>
	<ion-col date_time size="3">10 Jan, 2020 <span>12:30</span></ion-col>
	<ion-col size="3">$10</ion-col>
</ion-row>

<ion-row plr_prt_m>
	<ion-col size="2"><img src="assets/images/plr2.jpg" /></ion-col>
	<ion-col size="4">Robin van</ion-col>
	<ion-col date_time size="3">30 Dec, 2019 <span>14:00</span></ion-col>
	<ion-col size="3">$10</ion-col>
</ion-row>

<ion-row plr_prt_m>
	<ion-col size="2"><img src="assets/images/plr3.jpg" /></ion-col>
	<ion-col size="4">Vyacheslav</ion-col>
	<ion-col date_time size="3">28 Dec, 2019 <span>16:13</span></ion-col>
	<ion-col size="3">$10</ion-col>
</ion-row>
<ion-row plr_prt_m>
	<ion-col size="2"><img src="assets/images/plr4.jpg" /></ion-col>
	<ion-col size="4">Justin Fashanu</ion-col>
	<ion-col date_time size="3">24 Dec, 2019 <span>11:15</span></ion-col>
	<ion-col size="3">$10</ion-col>
</ion-row>
<ion-row plr_prt_m>
	<ion-col size="2"><img src="assets/images/plr1.jpg" /></ion-col>
	<ion-col size="4">Zinedine Zidane</ion-col>
	<ion-col date_time size="3">20 Dec, 2019 <span>6:30</span></ion-col>
	<ion-col size="3">$10</ion-col>
</ion-row>

<ion-row app_ad>
  <ion-col>
    <ion-icon close_btn name="close"></ion-icon>
    <img src="assets/images/ad.png" />
  </ion-col>
</ion-row>
</ion-content>
